@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main_background_color: #F7FAF4;
  --button_dark_bg: #2C7865;

  --button_hover_green: #1f604f;
  --button_active_green: #154b3d;

  --outline_button_hover_green: #E0F3EE;
  --outline_button_active_green: #B8E4D6;

  --light_font: #EDF2E6;
  --dark_font: #063327;

  --dark_gray: #707070;
  --light_gray: #aeadad;

  --med_green: #90D26D;
  --light_green: #EDF2E6;

  height: 100%;
}

html, body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--dark_font);
  box-sizing: border-box;
  background-color: var(--main_background_color);
  height: 100%;
}

h4, h2, h3 {
  font-family: 'Jost', sans-serif;
  text-align: center;
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 48px 0;
}

label {
  min-width: 120px;
}

input[type=email], input[type=password], input[type=text], input[type=search] {
  width: 100%;
  height: 30px;
  border: .5px solid var(--button_dark_bg);
  border-radius: 4px;
}

hr {
  background-color: var(--med_green);
  height: .5px;
  width: 80%;
  border: none;
  margin-top: 48px;
  margin-bottom: 48px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

input[type="checkbox"] {
  transform: scale(1.5);  /* Increase the scale value to make it bigger */
}

input[type="checkbox"] {
  -webkit-appearance: none;  /* For Chrome */
  -moz-appearance: none;     /* For Firefox */
  appearance: none;          /* Standard */
  width: 20px;
  height: 20px;
  background-color: #fff;    
  border: 1px solid var(--button_dark_bg);
  border-radius: 2px;        
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  /* background-color: #000;     */
}
