.nav {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: large;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.select_container {
  min-height: 100vh;
  border-radius: 4px;
}