a.link_style {
  color: var(--button_dark_bg);
  font-weight: 600;
}

.msg_container {
  display: flex;
  justify-content: center;
  margin: 50px 0 70px;
}

.title {
  font-size: large;
  margin: 48px 0;
}
