.container {
  display: flex;
  margin-top: 16px;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  height: 500px;
  padding-top: 16px;
  border-right: solid var(--med_green);
}

.sidebar_item {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 400;
  padding: 20px 8px;
  transition: all 0.3s ease;
}

.sidebar_item:hover {
  background-color: var(--outline_button_hover_green);
  cursor: pointer;
}

.sidebar_item:active {
  background-color: var(--outline_button_active_green);
}

.sidebar_item_active {
  background-color: var(--outline_button_hover_green);
}

.sidebar_title {
  font-weight: 500;
  margin-bottom: 36px;
}

.content {
  padding-left: 48px;
  padding-bottom: 16px;
  flex-grow: 1;
}

.logout {
  font-size: large;
  font-weight: 500;
  margin-top: 48px;
}

.icon {
  color: var(--button_dark_bg);
}

@media (max-width: 640px) {
  .sidebar {
    display: none;
  }

  .content {
    padding-left: 0;
  }
}



