.container {
  display: flex;
  margin-top: 16px;
}

.sidebar {
  width: 200px;
  min-height: 100vh;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--med_green);
  background-color: white;
}

.content {
  padding-left: 32px;
  padding-bottom: 16px;
  flex-grow: 1;
}

.searchbox {
  display: inline-block;
  position: relative;
}

.icon {
  color: var(--button_dark_bg);
  position: absolute;
  right: 0;
}

.searchbox_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

