
.searchbox_container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 24px;
  margin-top: 10px;
}

.content_title {
  font-weight: 500;
  margin-bottom: 25px;
  font-size: large;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.title {
  font-weight: 500;
}
