
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 30px;
  margin-top: 60px;
}

.cards > *:first-child {
  border-radius: 50%;
  position: relative;
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--button_dark_bg);
}

.title {
  font-weight: 500;
}