
.container {
  color: var(--dark_font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.step {
  margin: 16px 0;
  line-height: 2rem;
  font-weight: 300;
}