.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
}

.logo {
  width: 160px;
  cursor: pointer;
}

.nav {
  font-weight: 400;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 12px;
}

.accountIcons {
  display: flex;
  align-items: center;
}

.icon {
  color: var(--button_dark_bg);
  cursor: pointer;
}

@media (max-width: 640px) {
  .icon {
    display: none;
  }
}
