.container {
  background-color: var(--light_green);
  width: 100%;
  min-height: fit-content;

}

.title {
  font-size: large;
  text-align: center;
}

.detail_container {
  padding: 40px 0;
  margin: 0 16px;

  display: flex;
  justify-content: center;
  gap: 100px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.error_message {
  height: 20px;
  visibility: hidden;
}

.error_message.active {
  visibility: visible;
}

.error {
  margin-top: -20px;
  color: var(--accent_orange);
}

.textarea {
  width: 100%;
  min-height: 150px;
  border: .5px solid var(--button_dark_bg);
  border-radius: 4px;
  resize: none;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.photo_display {
  background-color: white;
  border-radius: 4px;
  aspect-ratio: 1/1;
  border: .5px solid var(--button_dark_bg);
}

@media (max-width: 640px) {
  .detail_container {
    flex-direction: column-reverse;
    min-width: 280px;
  }

  .detail {
    flex-shrink: 0;
  }

  .photo {
    width: 50%;
    margin-bottom: -50px;
    flex-shrink: 0;
  }
}