.container {
  background-color: var(--light_green);
  width: 100%;
  min-width: fit-content;
  min-height: fit-content;

}

.title {
  font-size: large;
  text-align: center;
}

.detail_container {
  padding: 40px 0;
  margin: 0 16px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 30px;

  grid-column: 1/2;
}

.detail > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error_message {
  height: 20px;
  visibility: hidden;
}

.error_message.active {
  visibility: visible;
}

.error {
  margin-top: -20px;
  color: var(--accent_orange);
}

.textarea {
  width: 100%;
  min-height: 150px;
  border: .5px solid var(--button_dark_bg);
  border-radius: 4px;
  resize: none;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  grid-column: 2/3;
}

.photo_display {
  background-color: white;
  border-radius: 4px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: .5px solid var(--button_dark_bg);
}

.photo_image {
  width: 100%;;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .detail_container {
    grid-template-columns: 1fr;
  }
  .detail, .photo {
    grid-column: 1/2;
  }
}
